In [1]:
#Importing Packages

import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup as bs

In [2]:
#Uploading CSV Dataset

dataset = pd.read_csv (r"C:\Users\cathy\OneDrive\Documents\UCD Project\ifood_df - Copy (2).csv")

pd.DataFrame(dataset)

dataset.set_index("Kidhome")

,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,...,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Income
Kidhome,,,,,,,,,,,,,,,,,,,,,
0,0,58,635,88,546,172,88,88,3,8,...,0,0,0,1,0,0,1529,1441,0,58138
1,1,38,11,1,6,2,1,6,2,1,...,0,0,0,1,0,0,21,15,0,46344
0,0,26,426,49,127,111,21,42,1,8,...,0,0,0,1,0,0,734,692,0,71613
1,0,26,11,4,20,10,3,5,2,2,...,0,0,0,1,0,0,48,43,0,26646
1,0,94,173,43,118,46,27,15,5,5,...,0,0,0,0,0,1,407,392,0,58293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1,46,709,43,182,42,118,247,2,9,...,0,0,0,1,0,0,1094,847,0,61223
2,1,56,406,0,30,0,0,8,7,8,...,0,0,0,0,0,1,436,428,1,64014
0,0,91,908,48,217,32,12,24,1,2,...,0,0,0,1,0,0,1217,1193,1,56981
0,1,8,428,30,214,80,30,61,2,6,...,0,0,0,0,1,0,782,721,0,69245
1,1,40,84,3,61,2,1,21,3,3,...,0,0,0,0,0,1,151,130,0,52869

In [3]:
#Web Scraping Data

url = 'https://teleport.org/cities/dublin/salaries/'
r = requests.get(url)
salaries = bs(r.text, 'lxml')

table = salaries.find("table", {"class":"table___2bpz_"})

pd.read_html(str(table))[0]

,Job type,Median salary (USD),Range,Salary ranking compared to all cities
0,C Level Executive,"$98,961",NaN,138/265
1,Product Manager,"$66,347",NaN,77/265
2,Finance Manager,"$59,892",NaN,108/265
3,Hardware Engineer,"$57,723",NaN,68/265
4,IT Manager,"$56,103",NaN,114/265
5,Project Manager,"$55,175",NaN,91/265
6,Mobile Developer,"$54,921",NaN,81/265
7,Physician,"$54,394",NaN,139/265
8,Lecturer,"$52,746",NaN,63/265
9,UX Designer,"$51,364",NaN,96/265
10,Sales Manager,"$50,169",NaN,96/265
11,Dentist,"$50,111",NaN,157/265
12,Data Scientist,"$49,851",NaN,121/265
13,Marketing Manager,"$49,787",NaN,96/265
14,Account Manager,"$48,299",NaN,89/265
15,Research Scientist,"$47,511",NaN,83/265
16,Business Development,"$47,285",NaN,139/265
17,Pharmacist,"$44,933",NaN,131/265
18,Software Engineer,"$44,777",NaN,122/265
19,Accountant,"$44,287",NaN,99/265
20,Business Analyst,"$43,541",NaN,131/265
21,Chemical Engineer,"$42,968",NaN,138/265
22,Human Resources Manager,"$42,854",NaN,123/265
23,Operations Manager,"$42,518",NaN,149/265
24,QA Engineer,"$41,365",NaN,124/265
25,Financial Analyst,"$41,180",NaN,150/265
26,Systems Administrator,"$40,243",NaN,138/265
27,Mechanical Engineer,"$39,971",NaN,128/265
28,Electrical Engineer,"$39,332",NaN,128/265
29,Data Analyst,"$39,026",NaN,125/265
30,Copywriter,"$37,773",NaN,94/265
31,Web Developer,"$37,771",NaN,123/265
32,Civil Engineer,"$37,493",NaN,135/265
33,Architect,"$36,587",NaN,140/265
34,Executive Assistant,"$36,560",NaN,101/265
35,Nurse,"$36,069",NaN,111/265
36,Web Designer,"$35,056",NaN,112/265
37,Postdoctoral Researcher,"$33,710",NaN,137/265
38,Content Marketing,"$33,446",NaN,127/265
39,Attorney,"$32,916",NaN,178/265
40,Graphic Designer,"$32,317",NaN,115/265
41,Customer Support,"$31,523",NaN,85/265
42,Office Manager,"$30,354",NaN,146/265
43,Teacher,"$29,904",NaN,134/265
44,Chef,"$28,538",NaN,112/265
45,Interior Designer,"$28,425",NaN,134/265
46,Administrative Assistant,"$27,422",NaN,124/265
47,Receptionist,"$22,722",NaN,114/265
48,Fashion Designer,"$19,530",NaN,195/265
49,Industrial Designer,"$18,257",NaN,202/265
50,Cashier,"$17,992",NaN,111/265
51,Waiter,"$17,258",NaN,150/265

In [5]:
#Creating Dictionary

dict_of_lists = {
    "Income": [98961, 66347, 59892, 57723, 56103, 55175, 54921, 54394, 52746, 51364,
               50169, 50111, 49851, 49787, 48299, 47511, 47285, 44933, 44777, 44287,
               43541, 42968, 42854, 42518, 41365, 41180, 40243, 39971, 39332, 39026,
               37773, 37771, 37493, 36587, 36560, 36069, 35056, 33710, 33446, 32916,
               32317, 31523, 30354, 29904, 28538, 28425, 27422, 22722, 19530, 18257,
               17992, 17258],
    
    "Job type": ["C Level Executive", "Product Manager", "Finance Manager", "Hardware Engineer", "IT Manager", 
                 "Project Manager", "Mobile Developer",
                 "Physician", "Lecturer", "UX Designer", "Sales Manager", "Dentist", "Data Scientist", "Marketing Manager",
                 "Account Manager", "Research Scientist", "Business Development", "Pharmacist", "Software Engineer",
                 "Accountant", "Business Analyst", "Chemical Engineer", "Human Resources Manager", "Operations Manager",
                 "QA Engineer", "Financial Analyst", "Systems Administrator", "Mechanical Engineer", "Electrical Engineer",
                 "Data Analyst", "Copywriter", "Web Developer", "Civil Engineer", "Architect", "Executive Assistant", "Nurse",
                 "Web Designer", "Postdoctoral Researcher", "Content Marketing", "Attorney", "Graphic Designer", "Customer Support",
                 "Office Manager", "Teacher", "Chef", "Interior Designer", "Administrative Assistant", "Receptionist", "Fashion Designer",
                 "Industrial Designer", "Cashier", "Waiter"],

    
}

new_jobs = pd.DataFrame (dict_of_lists)

new_jobs.set_index("Income")

                        Job type
Income
98961          C Level Executive
66347            Product Manager
59892            Finance Manager
57723          Hardware Engineer
56103                 IT Manager
55175            Project Manager
54921           Mobile Developer
54394                  Physician
52746                   Lecturer
51364                UX Designer
50169              Sales Manager
50111                    Dentist
49851             Data Scientist
49787          Marketing Manager
48299            Account Manager
47511         Research Scientist
47285       Business Development
44933                 Pharmacist
44777          Software Engineer
44287                 Accountant
43541           Business Analyst
42968          Chemical Engineer
42854    Human Resources Manager
42518         Operations Manager
41365                QA Engineer
41180          Financial Analyst
40243      Systems Administrator
39971        Mechanical Engineer
39332        Electrical Engineer
39026               Data Analyst
37773                 Copywriter
37771              Web Developer
37493             Civil Engineer
36587                  Architect
36560        Executive Assistant
36069                      Nurse
35056               Web Designer
33710    Postdoctoral Researcher
33446          Content Marketing
32916                   Attorney
32317           Graphic Designer
31523           Customer Support
30354             Office Manager
29904                    Teacher
28538                       Chef
28425          Interior Designer
27422   Administrative Assistant
22722               Receptionist
19530           Fashion Designer
18257        Industrial Designer
17992                    Cashier
17258                     Waiter

In [6]:
pd.merge_asof(dataset.sort_values("Income"), new_jobs.sort_values("Income"), left_on='Income', right_on='Income', direction='nearest')

,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,...,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Income,Job type
0,0,0,65,1,1,3,1,1,1,15,...,0,0,1,0,0,7,6,0,1730,Waiter
1,1,0,42,1,1,1725,1,1,1,15,...,0,0,1,0,0,1729,1728,0,2447,Waiter
2,1,0,56,2,1,1,0,0,1,0,...,0,0,1,0,0,4,3,0,3502,Waiter
3,1,1,29,5,0,1,1,1,1,15,...,0,0,0,0,1,8,7,0,4023,Waiter
4,0,1,0,16,4,12,2,4,321,0,...,0,0,1,0,0,38,-283,0,4428,Waiter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,0,0,69,722,27,102,44,72,168,0,...,0,0,1,0,0,967,799,3,101970,C Level Executive
2201,0,0,54,763,29,138,76,176,58,0,...,0,0,0,0,1,1182,1124,3,102160,C Level Executive
2202,0,0,5,168,148,444,32,172,148,1,...,0,0,1,0,0,964,816,4,102692,C Level Executive
2203,0,0,36,1009,181,104,202,21,207,0,...,0,0,1,0,0,1517,1310,2,105471,C Level Executive
2204,0,0,9,6,2,3,1,262,3,0,...,0,0,0,0,1,274,271,0,113734,C Level Executive