In [1]:
#Importing Packages

import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup as bs

In [16]:
#Uploading CSV Dataset

Marketing_analytics = pd.read_csv (r"C:\Users\cathy\OneDrive\Documents\UCD Project\ifood_df - Copy (2).csv")

pd.DataFrame(Marketing_analytics)

Marketing_analytics.set_index("Kidhome")

,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,...,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Income
Kidhome,,,,,,,,,,,,,,,,,,,,,
0,0,58,635,88,546,172,88,88,3,8,...,0,0,0,1,0,0,1529,1441,0,58138
1,1,38,11,1,6,2,1,6,2,1,...,0,0,0,1,0,0,21,15,0,46344
0,0,26,426,49,127,111,21,42,1,8,...,0,0,0,1,0,0,734,692,0,71613
1,0,26,11,4,20,10,3,5,2,2,...,0,0,0,1,0,0,48,43,0,26646
1,0,94,173,43,118,46,27,15,5,5,...,0,0,0,0,0,1,407,392,0,58293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1,46,709,43,182,42,118,247,2,9,...,0,0,0,1,0,0,1094,847,0,61223
2,1,56,406,0,30,0,0,8,7,8,...,0,0,0,0,0,1,436,428,1,64014
0,0,91,908,48,217,32,12,24,1,2,...,0,0,0,1,0,0,1217,1193,1,56981
0,1,8,428,30,214,80,30,61,2,6,...,0,0,0,0,1,0,782,721,0,69245
1,1,40,84,3,61,2,1,21,3,3,...,0,0,0,0,0,1,151,130,0,52869

In [17]:
#Tidying up DataFrame

Marketing_analytics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Kidhome               2205 non-null   int64
 1   Teenhome              2205 non-null   int64
 2   Recency               2205 non-null   int64
 3   MntWines              2205 non-null   int64
 4   MntFruits             2205 non-null   int64
 5   MntMeatProducts       2205 non-null   int64
 6   MntFishProducts       2205 non-null   int64
 7   MntSweetProducts      2205 non-null   int64
 8   MntGoldProds          2205 non-null   int64
 9   NumDealsPurchases     2205 non-null   int64
 10  NumWebPurchases       2205 non-null   int64
 11  NumCatalogPurchases   2205 non-null   int64
 12  NumStorePurchases     2205 non-null   int64
 13  NumWebVisitsMonth     2205 non-null   int64
 14  AcceptedCmp3          2205 non-null   int64
 15  AcceptedCmp4          2205 non-null   int64
 16  AcceptedCmp5          2205 non-null   int64
 17  AcceptedCmp1          2205 non-null   int64
 18  AcceptedCmp2          2205 non-null   int64
 19  Complain              2205 non-null   int64
 20  Z_CostContact         2205 non-null   int64
 21  Z_Revenue             2205 non-null   int64
 22  Response              2205 non-null   int64
 23  Age                   2205 non-null   int64
 24  Customer_Days         2205 non-null   int64
 25  marital_Divorced      2205 non-null   int64
 26  marital_Married       2205 non-null   int64
 27  marital_Single        2205 non-null   int64
 28  marital_Together      2205 non-null   int64
 29  marital_Widow         2205 non-null   int64
 30  education_2n Cycle    2205 non-null   int64
 31  education_Basic       2205 non-null   int64
 32  education_Graduation  2205 non-null   int64
 33  education_Master      2205 non-null   int64
 34  education_PhD         2205 non-null   int64
 35  MntTotal              2205 non-null   int64
 36  MntRegularProds       2205 non-null   int64
 37  AcceptedCmpOverall    2205 non-null   int64
 38  Income                2205 non-null   int64
dtypes: int64(39)
memory usage: 672.0 KB

In [19]:
Marketing_analytics.describe()

,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,...,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Income
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,...,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.00000,2205.000000
mean,0.442177,0.506576,49.009070,306.164626,26.403175,165.312018,37.756463,27.128345,44.057143,2.318367,...,0.034467,0.089796,0.024490,0.504762,0.165079,0.215873,562.764626,518.707483,0.29932,51622.094785
std,0.537132,0.544380,28.932111,337.493839,39.784484,217.784507,54.824635,41.130468,51.736211,1.886107,...,0.182467,0.285954,0.154599,0.500091,0.371336,0.411520,575.936911,553.847248,0.68044,20713.063826
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,-283.000000,0.00000,1730.000000
25%,0.000000,0.000000,24.000000,24.000000,2.000000,16.000000,3.000000,1.000000,9.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,56.000000,42.000000,0.00000,35196.000000
50%,0.000000,0.000000,49.000000,178.000000,8.000000,68.000000,12.000000,8.000000,25.000000,2.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,343.000000,288.000000,0.00000,51287.000000
75%,1.000000,1.000000,74.000000,507.000000,33.000000,232.000000,50.000000,34.000000,56.000000,3.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,964.000000,884.000000,0.00000,68281.000000
max,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,262.000000,321.000000,15.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2491.000000,2458.000000,4.00000,113734.000000

In [21]:
#Checking for Missing Values

Marketing_analytics.isna().any()

Kidhome                 False
Teenhome                False
Recency                 False
MntWines                False
MntFruits               False
MntMeatProducts         False
MntFishProducts         False
MntSweetProducts        False
MntGoldProds            False
NumDealsPurchases       False
NumWebPurchases         False
NumCatalogPurchases     False
NumStorePurchases       False
NumWebVisitsMonth       False
AcceptedCmp3            False
AcceptedCmp4            False
AcceptedCmp5            False
AcceptedCmp1            False
AcceptedCmp2            False
Complain                False
Z_CostContact           False
Z_Revenue               False
Response                False
Age                     False
Customer_Days           False
marital_Divorced        False
marital_Married         False
marital_Single          False
marital_Together        False
marital_Widow           False
education_2n Cycle      False
education_Basic         False
education_Graduation    False
education_Master        False
education_PhD           False
MntTotal                False
MntRegularProds         False
AcceptedCmpOverall      False
Income                  False
dtype: bool

In [44]:
#Checking for Duplicates

Marketing_analytics.duplicated().sum()

184

In [45]:
#Showing Duplicated Rows

Marketing_analytics.loc[Marketing_analytics.duplicated(), :]

,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,...,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Income
77,0,0,56,112,17,44,34,22,89,1,...,0,0,0,0,1,0,229,140,0,38620
167,0,0,44,207,26,447,75,0,223,1,...,0,1,0,0,0,0,755,532,1,78497
267,0,1,84,297,7,79,0,11,182,2,...,0,0,0,1,0,0,394,212,0,51369
268,0,0,20,84,5,38,150,12,28,2,...,0,0,0,1,0,0,289,261,0,37760
346,1,0,31,9,0,6,4,1,5,1,...,0,0,0,0,0,1,20,15,0,37717
366,2,1,94,73,3,90,12,1,32,7,...,0,1,0,0,0,0,179,147,0,35688
404,1,0,30,5,3,11,12,5,9,1,...,0,0,0,1,0,0,36,27,0,30096
426,1,0,13,10,4,14,4,4,1,1,...,0,0,0,1,0,0,36,35,0,30279
446,0,0,47,483,84,398,205,84,241,1,...,0,0,0,1,0,0,1254,1013,1,80124
487,0,1,49,31,0,7,2,0,6,1,...,0,0,0,0,1,0,40,34,0,50943
564,0,1,69,270,3,27,39,6,99,7,...,0,0,0,1,0,0,345,246,0,40689
589,0,1,99,55,0,6,2,0,4,2,...,1,0,0,1,0,0,63,59,0,42429
596,2,1,28,25,0,8,2,0,2,2,...,0,0,0,1,0,0,35,33,0,22574
614,0,1,13,129,129,259,168,121,83,5,...,0,1,0,0,0,0,806,723,0,62466
622,0,1,78,571,50,142,33,50,159,4,...,0,0,0,1,0,0,846,687,0,63381
638,0,0,92,45,47,52,21,20,25,2,...,0,1,0,0,0,0,185,160,0,26490
642,1,0,74,3,6,5,0,2,6,1,...,0,0,0,1,0,0,16,10,0,19986
655,0,1,63,789,0,142,12,9,38,2,...,0,0,0,0,0,1,952,914,0,52614
685,1,0,93,656,80,455,52,107,93,2,...,0,0,0,1,0,0,1350,1257,2,71952
689,1,0,10,23,1,13,2,2,18,1,...,0,0,0,0,1,0,41,23,1,35178
705,0,1,99,54,0,7,0,0,4,1,...,0,0,0,1,0,0,61,57,0,44794
712,1,1,57,328,9,124,12,24,109,7,...,0,0,0,1,0,0,497,388,0,66373
732,0,1,87,445,53,213,104,98,151,1,...,1,0,0,1,0,0,913,762,0,58330
803,0,0,74,30,3,47,19,21,42,1,...,0,0,0,1,0,0,120,78,0,22419
804,0,1,61,1492,38,287,50,57,33,1,...,0,0,0,1,0,0,1924,1891,4,87771
822,1,0,12,5,7,24,19,14,20,4,...,0,0,0,1,0,0,69,49,0,34176
831,0,1,0,384,0,102,21,32,5,3,...,0,0,0,0,0,1,539,534,0,65324
864,0,0,96,899,102,838,133,102,40,1,...,0,0,0,0,0,1,2074,2034,0,86857
874,0,0,53,437,8,206,160,49,42,2,...,0,0,0,0,0,1,860,818,1,48948
897,0,0,9,1478,19,403,0,19,0,1,...,0,0,0,0,0,1,1919,1919,2,84169
908,0,0,66,375,152,335,93,91,81,1,...,0,0,0,1,0,0,1046,965,0,74293
914,0,0,92,203,35,305,46,17,227,1,...,0,0,0,1,0,0,606,379,0,75127
957,2,1,60,292,3,77,10,3,26,7,...,0,0,0,0,1,0,385,359,0,56962
963,0,1,63,587,43,337,42,87,54,3,...,0,0,0,1,0,0,1096,1042,0,63693
975,0,0,65,4,2,11,2,0,4,1,...,0,0,0,1,0,0,19,15,0,34824
977,1,1,84,15,10,19,8,17,20,3,...,0,0,0,1,0,0,69,49,0,26091
987,0,0,57,901,31,345,75,31,191,1,...,0,0,0,1,0,0,1383,1192,1,83844
1014,0,0,70,350,60,568,110,133,145,1,...,0,0,0,1,0,0,1221,1076,1,79593
1030,0,0,41,635,114,254,132,152,76,1,...,0,1,0,0,0,0,1287,1211,1,70924
1050,1,0,78,26,0,15,2,1,2,2,...,0,0,0,0,0,1,44,42,0,32892
1072,0,0,24,227,23,389,42,21,75,1,...,0,0,0,1,0,0,702,627,0,71367
1087,0,0,27,7,4,13,15,8,17,2,...,0,1,0,0,0,0,47,30,0,15315
1093,0,0,23,1000,19,711,125,115,38,0,...,0,0,0,0,1,0,1970,1932,1,98777
1118,0,0,34,8,4,10,2,2,4,2,...,0,0,0,0,1,0,26,22,0,10979
1120,0,1,65,320,48,133,39,72,48,4,...,0,0,0,0,1,0,612,564,0,56129
1141,1,1,0,454,0,171,8,19,32,12,...,0,0,0,1,0,0,652,620,0,54450
1151,0,0,99,0,6,3,7,6,12,1,...,0,1,0,0,0,0,22,10,0,20130
1175,0,1,64,635,15,100,20,7,131,1,...,0,0,0,0,1,0,777,646,0,63841
1176,0,1,91,43,12,23,29,15,61,1,...,0,1,0,0,0,0,122,61,0,46891
1183,1,0,60,1,2,8,4,3,13,2,...,0,0,0,1,0,0,18,5,1,15287
1186,0,0,96,684,100,801,21,66,0,1,...,0,0,0,0,0,1,1672,1672,1,84618
1198,0,0,56,919,0,505,99,30,45,1,...,0,0,0,0,0,1,1553,1508,0,68682
1218,1,0,56,5,4,13,8,0,4,1,...,0,0,0,1,0,0,30,26,0,28691
1234,0,1,51,595,23,123,10,23,154,2,...,0,0,0,1,0,0,774,620,0,68118
1240,1,1,37,15,0,8,4,2,20,2,...,0,0,0,0,0,1,29,9,1,35860
1245,0,0,78,897,161,430,186,161,27,0,...,0,0,0,1,0,0,1835,1808,3,83829
1271,1,0,75,14,1,7,2,1,1,1,...,0,0,0,1,0,0,25,24,0,22804
1280,0,0,62,1111,24,790,160,45,172,0,...,0,0,0,1,0,0,2130,1958,3,94384
1297,1,1,59,44,4,21,6,0,27,2,...,0,0,0,1,0,0,75,48,0,40321
1324,1,0,11,6,10,21,19,14,42,2,...,0,0,0,1,0,0,70,28,0,33249
1326,0,0,32,135,46,92,65,61,11,2,...,0,0,0,0,0,1,399,388,0,50150
1328,0,0,88,714,76,395,116,0,12,1,...,0,0,0,0,0,1,1301,1289,0,85696
1347,1,0,24,112,19,21,16,14,5,3,...,0,0,0,0,1,0,182,177,0,41335
1351,2,1,94,27,0,5,0,0,3,2,...,0,0,0,0,1,0,32,29,0,35791
1362,1,1,10,9,1,7,0,3,2,2,...,0,1,0,0,0,0,20,18,0,26907
1364,0,0,56,709,93,374,104,80,80,1,...,0,0,0,1,0,0,1360,1280,0,75507
1373,0,1,64,635,15,100,20,7,131,1,...,0,0,0,0,1,0,777,646,0,63841
1376,0,1,54,642,14,49,0,7,57,1,...,0,0,0,1,0,0,712,655,0,65685
1381,0,1,70,172,12,112,8,0,15,4,...,0,0,0,0,1,0,304,289,0,47352
1386,1,0,40,1218,16,272,104,0,80,2,...,0,0,0,1,0,0,1610,1530,3,80134
1391,0,0,47,2,23,11,8,6,46,1,...,0,0,1,0,0,0,50,4,0,22634
1397,0,1,45,977,12,253,16,12,101,4,...,0,0,0,1,0,0,1270,1169,1,63810
1399,0,0,77,6,1,7,23,4,19,1,...,0,0,0,1,0,0,41,22,0,18690
1405,1,0,64,12,0,13,2,0,10,1,...,0,0,0,0,1,0,27,17,0,27100
1411,1,1,92,201,2,43,3,5,35,4,...,0,0,0,1,0,0,254,219,0,60544
1414,1,0,30,29,12,59,19,1,36,2,...,0,0,0,1,0,0,120,84,0,39922
1430,0,0,3,458,81,356,106,50,40,1,...,0,0,0,1,0,0,1051,1011,0,68695
1437,1,1,25,38,0,2,0,0,6,1,...,0,0,0,0,0,1,40,34,2,46015
1442,0,0,57,901,31,345,75,31,191,1,...,0,0,0,1,0,0,1383,1192,1,83844
1451,0,0,78,556,14,717,210,0,43,1,...,0,0,0,0,1,0,1497,1454,0,64857
1455,0,1,25,265,199,303,234,9,170,7,...,0,0,0,1,0,0,1010,840,0,60474
1456,0,1,83,526,28,135,10,21,99,3,...,0,0,0,1,0,0,720,621,0,62807
1476,1,0,54,2,3,10,11,2,10,1,...,0,1,0,0,0,0,28,18,0,31163
1485,0,0,27,434,137,400,45,137,45,1,...,0,0,0,1,0,0,1153,1108,0,84219
1486,1,1,86,57,0,27,0,0,36,4,...,0,0,0,0,1,0,84,48,0,46098
1492,1,0,4,30,8,12,8,8,12,1,...,0,0,0,1,0,0,66,54,0,33039
1498,1,0,14,19,3,19,3,1,3,2,...,0,0,0,0,0,1,45,42,0,37401
1520,1,0,43,65,4,16,0,4,11,1,...,0,0,0,0,1,0,89,78,0,42386
1528,0,0,85,292,30,415,63,33,200,1,...,0,0,0,1,0,0,833,633,1,76081
1529,0,1,63,757,80,217,29,80,11,5,...,0,0,0,1,0,0,1163,1152,0,67445
1535,1,0,30,29,12,59,19,1,36,2,...,0,0,0,1,0,0,120,84,0,39922
1536,0,2,66,411,0,26,0,0,21,6,...,0,0,0,0,1,0,437,416,0,49681
1545,0,0,23,1006,22,115,59,68,45,1,...,0,0,0,0,0,1,1270,1225,2,82800
1546,1,1,92,34,1,14,0,0,5,3,...,0,0,0,1,0,0,49,44,0,38998
1549,1,0,56,244,15,108,4,15,50,6,...,0,0,0,1,0,0,386,336,0,42014
1553,0,0,71,34,4,66,3,10,20,1,...,0,0,0,1,0,0,117,97,0,34935
1565,0,1,22,108,1,28,13,1,4,2,...,0,0,0,0,0,1,151,147,0,31497
1568,0,1,74,202,5,74,11,5,14,3,...,0,0,0,0,1,0,297,283,0,45143
1571,1,1,96,18,2,19,0,2,6,5,...,0,0,0,0,1,0,41,35,0,17144
1584,0,1,22,397,19,69,12,0,9,1,...,0,0,0,0,0,1,497,488,0,65526
1585,0,0,95,456,19,832,75,118,38,1,...,0,0,0,1,0,0,1500,1462,0,68655
1593,0,1,23,86,12,75,33,15,6,1,...,0,0,0,1,0,0,221,215,0,69139
1597,0,0,78,398,96,447,220,96,32,1,...,0,1,0,0,0,0,1257,1225,0,66664
1605,0,1,36,410,112,420,0,82,71,1,...,0,0,0,0,0,1,1024,953,0,73059
1609,0,2,52,269,15,69,15,19,38,2,...,0,0,0,0,0,1,387,349,0,46681
1618,1,0,94,1,3,6,10,0,9,1,...,0,0,1,0,0,0,20,11,0,24594
1638,0,0,46,40,2,15,8,0,6,1,...,0,0,0,0,0,1,65,59,0,33996
1642,1,0,43,1181,107,199,39,30,30,2,...,0,0,0,0,0,1,1556,1526,0,69084
1643,0,1,97,1004,59,265,115,59,27,2,...,0,0,0,0,0,1,1502,1475,1,77766
1647,0,0,54,390,22,323,104,35,107,1,...,0,1,0,0,0,0,874,767,1,72635
1663,0,0,77,493,70,324,146,40,84,1,...,0,0,0,1,0,0,1073,989,0,81217
1675,1,1,62,56,0,14,0,0,2,3,...,0,0,0,0,1,0,70,68,0,38452
1702,1,1,48,505,72,270,36,27,54,4,...,0,0,0,0,1,0,910,856,0,74881
1705,0,0,77,6,1,7,23,4,19,1,...,0,0,0,1,0,0,41,22,0,18690
1710,1,1,33,245,16,223,21,43,16,2,...,0,0,0,1,0,0,548,532,0,79146
1721,0,0,21,620,26,195,34,17,141,1,...,0,0,0,0,1,0,892,751,0,66835
1725,0,1,26,98,0,106,49,10,106,5,...,0,0,0,1,0,0,263,157,0,44989
1728,1,1,33,15,0,12,7,3,7,3,...,1,0,0,1,0,0,37,30,0,30372
1741,0,0,29,358,108,413,141,97,32,1,...,0,0,0,1,0,0,1117,1085,0,71853
1742,0,0,80,1,9,7,2,14,10,1,...,0,0,1,0,0,0,33,23,0,28249
1745,0,0,86,102,9,63,2,9,24,1,...,0,0,0,0,0,1,185,161,0,51012
1746,0,0,68,347,44,534,17,0,26,1,...,0,0,0,1,0,0,942,916,0,70596
1749,1,1,7,194,2,56,0,0,0,5,...,0,0,0,1,0,0,252,252,0,42586
1750,1,0,87,64,4,68,7,5,17,4,...,0,0,0,1,0,0,148,131,0,29760
1763,0,1,46,425,115,292,23,35,79,1,...,0,0,0,1,0,0,890,811,0,77298
1764,1,1,11,18,6,15,12,8,17,3,...,0,0,0,1,0,0,59,42,0,34026
1765,1,1,21,52,0,9,0,0,1,2,...,0,0,0,0,0,1,61,60,0,48918
1767,1,0,82,34,6,21,11,4,8,1,...,0,0,0,1,0,0,76,68,0,37697
1773,1,0,27,340,21,134,258,14,56,1,...,0,1,0,0,0,0,767,711,0,75774
1777,1,1,30,231,7,137,4,15,39,9,...,0,0,0,1,0,0,394,355,0,37070
1779,0,1,21,620,16,165,0,24,82,5,...,0,0,0,1,0,0,825,743,0,53977
1781,1,1,95,12,4,2,10,6,10,4,...,0,0,0,1,0,0,34,24,0,18701
1784,1,1,49,27,2,10,0,0,1,2,...,0,0,0,1,0,0,39,38,0,37758
1796,1,1,34,79,1,31,4,4,12,3,...,0,0,0,0,1,0,119,107,0,33316
1836,0,1,56,162,50,100,55,30,27,1,...,0,0,0,1,0,0,397,370,0,61825
1838,0,0,10,823,25,459,124,29,95,1,...,0,0,0,1,0,0,1460,1365,1,69109
1864,0,0,90,864,134,768,150,38,172,1,...,0,0,0,0,0,1,1954,1782,0,67546
1870,1,0,52,1,4,10,29,0,36,1,...,0,0,1,0,0,0,44,8,1,24882
1873,0,1,71,378,14,68,19,14,14,2,...,0,0,0,0,0,1,493,479,0,59292
1874,1,1,13,42,1,18,3,0,4,2,...,0,0,0,0,0,1,64,60,0,45759
1879,0,0,51,398,61,265,138,61,53,1,...,0,0,0,1,0,0,923,870,0,62820
1886,0,0,85,829,138,430,60,92,15,1,...,0,0,0,0,1,0,1549,1534,0,80573
1890,0,0,15,32,0,8,23,4,18,1,...,0,0,0,1,0,0,67,49,0,18929
1892,0,0,27,18,42,24,15,20,18,1,...,0,0,0,1,0,0,119,101,0,20180
1900,0,1,65,1103,0,45,0,0,34,3,...,0,0,0,0,0,1,1148,1114,2,55212
1923,0,1,20,69,8,26,12,7,12,2,...,0,0,0,1,0,0,122,110,0,39898
1933,1,1,48,67,4,32,17,2,16,3,...,1,0,0,0,0,1,122,106,0,56551
1946,1,1,8,199,33,60,8,3,15,5,...,0,0,0,1,0,0,303,288,0,34600
1948,1,1,76,111,16,37,7,9,18,3,...,0,1,0,0,0,0,180,162,0,54690
1955,1,0,15,40,3,30,10,7,11,3,...,0,0,0,0,0,1,90,79,0,25509
1959,0,1,4,9,0,6,3,1,3,1,...,0,0,0,1,0,0,19,16,0,21994
1978,1,1,6,68,0,16,0,0,8,3,...,0,0,0,0,1,0,84,76,0,46423
1989,1,1,46,11,1,2,2,1,6,1,...,0,1,0,0,0,0,17,11,0,37284
2000,1,1,6,9,1,3,0,4,8,1,...,0,0,0,1,0,0,17,9,0,29672
2031,0,1,10,532,88,168,69,44,133,3,...,0,0,0,0,0,1,901,768,0,70179
2033,1,0,74,39,0,56,20,8,14,3,...,0,0,0,1,0,0,123,109,0,38361
2034,0,0,54,587,54,348,71,54,130,1,...,0,0,0,0,0,1,1114,984,0,70038
2036,0,1,63,757,80,217,29,80,11,5,...,0,0,0,1,0,0,1163,1152,0,67445
2044,1,0,51,15,0,11,0,2,9,1,...,0,0,0,1,0,0,28,19,0,25293
2045,0,0,23,124,83,267,85,59,35,2,...,0,0,0,0,0,1,618,583,0,42000
2052,0,0,48,758,12,385,33,89,89,1,...,0,0,0,1,0,0,1277,1188,0,68487
2053,0,1,24,656,38,161,62,47,37,3,...,0,0,0,1,0,0,964,927,0,56796
2062,0,1,5,520,8,223,32,49,42,4,...,0,0,0,0,1,0,832,790,1,49912
2069,0,1,63,529,0,356,63,28,0,3,...,0,0,0,0,0,1,976,976,0,67911
2073,1,0,5,4,12,5,3,16,17,2,...,0,0,1,0,0,0,40,23,0,20425
2074,0,1,3,62,1,44,6,5,22,1,...,0,0,0,0,1,0,118,96,0,58646
2093,0,0,98,997,15,414,99,30,76,1,...,0,0,0,1,0,0,1555,1479,3,84906
2094,0,1,34,356,0,107,19,9,117,2,...,0,0,0,1,0,0,491,374,0,61286
2098,1,0,83,17,0,14,7,3,2,1,...,0,0,0,1,0,0,41,39,0,30992
2104,1,0,39,2,3,6,4,1,9,1,...,0,0,0,1,0,0,16,7,0,20587
2120,1,1,30,154,0,50,6,11,37,5,...,1,0,0,1,0,0,221,184,1,40590
2121,1,0,6,9,1,5,4,5,7,1,...,0,0,0,0,1,0,24,17,0,30560
2133,0,1,4,531,69,300,150,138,150,3,...,0,0,0,1,0,0,1188,1038,0,72071
2146,0,1,84,116,6,82,6,6,41,2,...,0,0,0,1,0,0,216,175,0,38946
2149,0,0,96,14,36,11,3,26,35,1,...,0,0,0,1,0,0,90,55,0,42523
2169,0,1,3,322,3,50,4,3,42,5,...,0,0,0,0,0,1,382,340,0,48432
2171,0,0,15,32,0,8,23,4,18,1,...,0,0,0,1,0,0,67,49,0,18929
2183,1,0,67,18,3,19,3,3,6,2,...,0,0,0,1,0,0,46,40,0,28427
2184,0,0,54,332,194,377,149,125,57,0,...,1,0,0,0,0,1,1177,1120,0,82032
2185,1,0,40,5,1,8,0,0,1,1,...,0,0,0,1,0,0,14,13,0,22775
2188,0,0,12,712,26,538,69,13,80,1,...,0,0,0,0,1,0,1358,1278,2,75777
2192,1,1,55,368,24,68,38,0,88,6,...,0,0,0,1,0,0,498,410,0,58554
2199,1,0,81,3,3,7,6,2,9,1,...,0,0,0,1,0,0,21,12,0,34421
2201,2,1,56,406,0,30,0,0,8,7,...,0,0,0,0,0,1,436,428,1,64014

In [47]:
#Dropping Duplicate Values

Marketing_analytics.drop_duplicates()

,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,...,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Income
0,0,0,58,635,88,546,172,88,88,3,...,0,0,0,1,0,0,1529,1441,0,58138
1,1,1,38,11,1,6,2,1,6,2,...,0,0,0,1,0,0,21,15,0,46344
2,0,0,26,426,49,127,111,21,42,1,...,0,0,0,1,0,0,734,692,0,71613
3,1,0,26,11,4,20,10,3,5,2,...,0,0,0,1,0,0,48,43,0,26646
4,1,0,94,173,43,118,46,27,15,5,...,0,0,0,0,0,1,407,392,0,58293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2198,0,0,50,5,1,6,3,4,3,1,...,0,0,0,1,0,0,19,16,0,26816
2200,0,1,46,709,43,182,42,118,247,2,...,0,0,0,1,0,0,1094,847,0,61223
2202,0,0,91,908,48,217,32,12,24,1,...,0,0,0,1,0,0,1217,1193,1,56981
2203,0,1,8,428,30,214,80,30,61,2,...,0,0,0,0,1,0,782,721,0,69245
2204,1,1,40,84,3,61,2,1,21,3,...,0,0,0,0,0,1,151,130,0,52869

In [49]:
#Importing table of data scraped from the web

url = 'https://teleport.org/cities/dublin/salaries/'
r = requests.get(url)
salaries = bs(r.text, 'lxml')

table = salaries.find("table", {"class":"table___2bpz_"})

pd.read_html(str(table))[0]

,Job type,Median salary (USD),Range,Salary ranking compared to all cities
0,C Level Executive,"$98,961",NaN,138/265
1,Product Manager,"$66,347",NaN,77/265
2,Finance Manager,"$59,892",NaN,108/265
3,Hardware Engineer,"$57,723",NaN,68/265
4,IT Manager,"$56,103",NaN,114/265
5,Project Manager,"$55,175",NaN,91/265
6,Mobile Developer,"$54,921",NaN,81/265
7,Physician,"$54,394",NaN,139/265
8,Lecturer,"$52,746",NaN,63/265
9,UX Designer,"$51,364",NaN,96/265
10,Sales Manager,"$50,169",NaN,96/265
11,Dentist,"$50,111",NaN,157/265
12,Data Scientist,"$49,851",NaN,121/265
13,Marketing Manager,"$49,787",NaN,96/265
14,Account Manager,"$48,299",NaN,89/265
15,Research Scientist,"$47,511",NaN,83/265
16,Business Development,"$47,285",NaN,139/265
17,Pharmacist,"$44,933",NaN,131/265
18,Software Engineer,"$44,777",NaN,122/265
19,Accountant,"$44,287",NaN,99/265
20,Business Analyst,"$43,541",NaN,131/265
21,Chemical Engineer,"$42,968",NaN,138/265
22,Human Resources Manager,"$42,854",NaN,123/265
23,Operations Manager,"$42,518",NaN,149/265
24,QA Engineer,"$41,365",NaN,124/265
25,Financial Analyst,"$41,180",NaN,150/265
26,Systems Administrator,"$40,243",NaN,138/265
27,Mechanical Engineer,"$39,971",NaN,128/265
28,Electrical Engineer,"$39,332",NaN,128/265
29,Data Analyst,"$39,026",NaN,125/265
30,Copywriter,"$37,773",NaN,94/265
31,Web Developer,"$37,771",NaN,123/265
32,Civil Engineer,"$37,493",NaN,135/265
33,Architect,"$36,587",NaN,140/265
34,Executive Assistant,"$36,560",NaN,101/265
35,Nurse,"$36,069",NaN,111/265
36,Web Designer,"$35,056",NaN,112/265
37,Postdoctoral Researcher,"$33,710",NaN,137/265
38,Content Marketing,"$33,446",NaN,127/265
39,Attorney,"$32,916",NaN,178/265
40,Graphic Designer,"$32,317",NaN,115/265
41,Customer Support,"$31,523",NaN,85/265
42,Office Manager,"$30,354",NaN,146/265
43,Teacher,"$29,904",NaN,134/265
44,Chef,"$28,538",NaN,112/265
45,Interior Designer,"$28,425",NaN,134/265
46,Administrative Assistant,"$27,422",NaN,124/265
47,Receptionist,"$22,722",NaN,114/265
48,Fashion Designer,"$19,530",NaN,195/265
49,Industrial Designer,"$18,257",NaN,202/265
50,Cashier,"$17,992",NaN,111/265
51,Waiter,"$17,258",NaN,150/265

In [51]:
#Creating Dictionary

dict_of_lists = {
    "Income": [98961, 66347, 59892, 57723, 56103, 55175, 54921, 54394, 52746, 51364,
               50169, 50111, 49851, 49787, 48299, 47511, 47285, 44933, 44777, 44287,
               43541, 42968, 42854, 42518, 41365, 41180, 40243, 39971, 39332, 39026,
               37773, 37771, 37493, 36587, 36560, 36069, 35056, 33710, 33446, 32916,
               32317, 31523, 30354, 29904, 28538, 28425, 27422, 22722, 19530, 18257,
               17992, 17258],
    
    "Job type": ["C Level Executive", "Product Manager", "Finance Manager", "Hardware Engineer", "IT Manager", 
                 "Project Manager", "Mobile Developer",
                 "Physician", "Lecturer", "UX Designer", "Sales Manager", "Dentist", "Data Scientist", "Marketing Manager",
                 "Account Manager", "Research Scientist", "Business Development", "Pharmacist", "Software Engineer",
                 "Accountant", "Business Analyst", "Chemical Engineer", "Human Resources Manager", "Operations Manager",
                 "QA Engineer", "Financial Analyst", "Systems Administrator", "Mechanical Engineer", "Electrical Engineer",
                 "Data Analyst", "Copywriter", "Web Developer", "Civil Engineer", "Architect", "Executive Assistant", "Nurse",
                 "Web Designer", "Postdoctoral Researcher", "Content Marketing", "Attorney", "Graphic Designer", "Customer Support",
                 "Office Manager", "Teacher", "Chef", "Interior Designer", "Administrative Assistant", "Receptionist", "Fashion Designer",
                 "Industrial Designer", "Cashier", "Waiter"],

    
}

new_jobs = pd.DataFrame (dict_of_lists)

new_jobs.set_index("Income")

                        Job type
Income
98961          C Level Executive
66347            Product Manager
59892            Finance Manager
57723          Hardware Engineer
56103                 IT Manager
55175            Project Manager
54921           Mobile Developer
54394                  Physician
52746                   Lecturer
51364                UX Designer
50169              Sales Manager
50111                    Dentist
49851             Data Scientist
49787          Marketing Manager
48299            Account Manager
47511         Research Scientist
47285       Business Development
44933                 Pharmacist
44777          Software Engineer
44287                 Accountant
43541           Business Analyst
42968          Chemical Engineer
42854    Human Resources Manager
42518         Operations Manager
41365                QA Engineer
41180          Financial Analyst
40243      Systems Administrator
39971        Mechanical Engineer
39332        Electrical Engineer
39026               Data Analyst
37773                 Copywriter
37771              Web Developer
37493             Civil Engineer
36587                  Architect
36560        Executive Assistant
36069                      Nurse
35056               Web Designer
33710    Postdoctoral Researcher
33446          Content Marketing
32916                   Attorney
32317           Graphic Designer
31523           Customer Support
30354             Office Manager
29904                    Teacher
28538                       Chef
28425          Interior Designer
27422   Administrative Assistant
22722               Receptionist
19530           Fashion Designer
18257        Industrial Designer
17992                    Cashier
17258                     Waiter

In [52]:
#Merging both data sets together on "Income" columns using merge_asof()

pd.merge_asof(dataset.sort_values("Income"), new_jobs.sort_values("Income"), left_on='Income', right_on='Income', direction='nearest')

,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,...,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Income,Job type
0,0,0,65,1,1,3,1,1,1,15,...,0,0,1,0,0,7,6,0,1730,Waiter
1,1,0,42,1,1,1725,1,1,1,15,...,0,0,1,0,0,1729,1728,0,2447,Waiter
2,1,0,56,2,1,1,0,0,1,0,...,0,0,1,0,0,4,3,0,3502,Waiter
3,1,1,29,5,0,1,1,1,1,15,...,0,0,0,0,1,8,7,0,4023,Waiter
4,0,1,0,16,4,12,2,4,321,0,...,0,0,1,0,0,38,-283,0,4428,Waiter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,0,0,69,722,27,102,44,72,168,0,...,0,0,1,0,0,967,799,3,101970,C Level Executive
2201,0,0,54,763,29,138,76,176,58,0,...,0,0,0,0,1,1182,1124,3,102160,C Level Executive
2202,0,0,5,168,148,444,32,172,148,1,...,0,0,1,0,0,964,816,4,102692,C Level Executive
2203,0,0,36,1009,181,104,202,21,207,0,...,0,0,1,0,0,1517,1310,2,105471,C Level Executive
2204,0,0,9,6,2,3,1,262,3,0,...,0,0,0,0,1,274,271,0,113734,C Level Executive